
* {
    margin: 0px;
    padding: 0px;
    font-family: 'NanumGothic', sans-serif;
}

a {
    text-decoration: none;
}

img {
    border: 0px;
}

li {
    list-style: none;
}

html {
    background-color: #000000;
}