
#darken-background {
    position: absolute;
    top: 0; left: 0; right: 0; 
    height: 0;

    display: none;
    background: rgba(0, 0, 0, 0.9);
    z-index: 10000;

    overflow-y: hidden; /* 보기 더 안좋아서 감춤!! */
}

#lightbox {
    position: absolute;
    /* width: 700px; */
    margin: 20px auto;
    padding: 15px;

    border: 1px solid #333333;
    border-radius: 5px;
    background: white;
    box-shadow: 0 5px 5px rgba(34, 25, 25, 0.4);
    text-align: center;

    left:50%; transform:translateX(-50%); /* 중앙정렬 */
}

.user-information {
    overflow: hidden;
    text-align: left;
}
.user-information-image {
    float: left;
    width: 70px;
}
.user-information-image > img {
    border-radius: 5px;
}
.user-information-text {
    float: left;
    width: 120px;
    margin-left: 15px;
}
.lightbox-splitter {margin: 10px 0; overflow: auto;}

#random-image {
    border-radius: 5px;
}
