
#main-navigation {
    height: 50px;
    margin-bottom: 20px;
    /* background: #faf7f7; */

    /* border-top: 1px solid #cfcaca; */
    box-shadow: 1px 3px 3px rgba(34, 25, 25, 0.4);

    /* filter: blur(2px); */
    /* -webkit-filter: blur(2px); */
    text-align: center;
}
.navi-div {
    display: inline-block;
    text-align: center;
}

.file_input_div {position:relative; width:80px; height:36px; border-radius:5px;}
.file_input_img_btn {padding:0 0 0 5px; border-radius:5px;}
.file-submit {font-size:29px; position:absolute; right:0px; top:0px; opacity:0; filter: alpha(opacity=0); -ms-filter: alpha(opacity=0); cursor:pointer;}


#main-navigation > ul {
    overflow: hidden;
    text-align: center;
}

#main-navigation > ul > li {
    display: inline;
    padding: 0 5px;
    line-height: 30px;
    font-size: 13px;
    color: #524d4d;

    text-shadow: 0 1px 1px white;
}

#main-navigation > ul > li:hover {
    background: #e1dfdf;
    border-radius: 2px;
}
